body {
  padding: 10px;
  font-family: sans-serif;
}
[name=todoItem]{
    border:none;
    font-family: "Times New Roman";
    font-size: 100%;
    padding:0.15em;
}
[name=todoItem]:hover{
    background-color: #f9f9f9;
    cursor:pointer;
}
[name=todoItem]:focus{
    background-color: #f9f9f9;
    cursor:default;
    outline:none;
}
.checked{
    background-color:#f0f0f0;
    color:#666;
}
.checked [name=todoItem]{
    text-decoration: line-through;
}

.checked [name=todoItem],
.checked [name=todoItem]:hover,
.checked [name=todoItem]:focus{
    background-color:#f0f0f0;
}
.Top_left_logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height:7%;
  color: white;
  background-color: #333333;
}

.Top_left_logo:hover {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height:7%;
  color: white;
  background-color: #111111;
}

.header_all_pages{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:7%;
  background-color: #333333;
}

.header_options{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  color: white;
  background-color: #0000f3;
}

.options_Top_right{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.top_options {
  float: left;
}

.top_options a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.top_options a:hover {
  background-color: #111111;
}

.Register-Complete-Page{
  margin-top: 0;
}
.left-register{
  position: fixed;
  padding:20px;
  margin-top:20px;
  left:0px;
  top:4%;
  width:30%;
  color: #ffffff;
  border-color: white;
  border-width: 10px;
  background-color: #111111;
}
.left-register:hover{
  background-color: #333333;
}
.right-register{
  position: fixed;
  padding:20px;
  margin-top:20px;
  right:0px;
  top:4%;
  width:65%;
  text-align: right;
  color: #ffffff;
  border-color: white;
  border-width: 10px;
  background-color: #111111;
}
.right-register:hover{
  background-color: #333333;
}
.submit_btn{
  background-color: gray;
  width:100px;
  height:50px;
  border-radius:10%;
}
.submit_btn:hover{
  background-color: Darkgray;
}
.login-div{
  position:absolute;
  border-radius: 10%;
  color:white;
  left:35%;
  top:35%;
  padding:10px;
  background-color:#111111;
}

.login-div:hover{
  background-color:#333333;
}


.Page_full{
  position: fixed;
  padding:50px;
  margin-top:20px;
  top:4%;
  left:0%;
  width:100%;
  height:100%;
  color:white;
  background-color:#111111;
}
.Home_Page_top{
  position: fixed;
  padding:50px;
  margin-top:20px;
  color:white;
  top:4%;
  left:0%;
  width:100%;
  height:30%;
}
.Title_text{
  position:fixed;
  padding-top: 50px;
  text-align: center;
  width:40%;
  height:10%;
  top:3%;
  left: 30%;
  transition: left ease 10s;
  font-size: 50px;
  background-color: #111111;
  border-radius: 15%;
}
.Reminder_Description{
  position:fixed;
  text-align: center;
  padding-top: 30px;
  top:5%;
  left:35%;
  width:30%;
  height:15%;
  background-color: #333333;
  transition: top ease 1.5s;
  font-size: 15px;
}
.Reminder_Description:hover{
  top:20%;
  color: white;
  transition:top ease 0.5s
}
.Home_Page_buttom{
  position: fixed;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 20px;
  top:45%;
  left:0%;
  width:98%;
  height:70%;
  border-style: solid;
  border-color: white;
  border-width: thin;
  transition: top ease 1.5s;
  background-color: #111111;
}

.Home_Page_buttom:hover{
  top:25%;
  transition: top ease 1.5s;
  background-color: #333333;
}
.Home_Page_Buttom_left{
  position:fixed;
  border-style: solid;
  border-color:white;
  padding-right:10px;
  padding-bottom: 10px;
  width:20%;
  height:70%;
  background-color: #111111;
  transition:0.5s;
}
.Home_Page_Buttom_left:hover{
  background-color: #333333;
  width:30%;
  transition:0.5s;
}

.Logo_Home{
  position:relative;
  padding-bottom: 30px;
  background-color:#111111;
  top:10%;
  width:100%;
  height:60%;
  transition: top ease 1.5s;
}
.Logo_Home:hover{
  top:-10%;
  background-color:#333333;
  transition:1.5s;
}
.Home_Page_Butom_center{
  position:fixed;
  border-style: solid;
  border-color:white;
  margin-left:300px;
  left:15%;
  width:20%;
  height:70%;
  background-color: #111111;
  transition:0.5s;
}
.Home_Page_Butom_center:hover{
  background-color: #333333;
  width:30%;
  transition:0.5s;
}
.Home_Page_buttom_right{
  position:fixed;
  border-style: solid;
  border-color:white;
  margin-left:300px;
  left:48%;
  width:20%;
  height:70%;
  background-color: #111111;
  transition:0.5s;
}
.Home_Page_buttom_right:hover{
  background-color: #333333;
  width:30%;
  transition:0.5s;
}
.signin_gif{
  position:relative;
  top:-8%;
  left:-15%;
  width:120%;
  height: 120%;
}
.delete-todo{
  position:relative;
  background-color: #111111;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 30%;
  border-color: white;
  width:150px;
  height:20px;
}
.delete-todo:hover{
  background-color: red;
}
